
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center;">BloodBank Details</h1>
<div class="m-2">
    <a class="btn btn-primary" asp-action="AddBloodBank" asp-controller="BloodBank">Insert Blood Bank</a>
</div>
<table class="table table-bordered table-responsive table-dark table-hover">
    <tr>
        <th>BloodBankID</th>
        <th>BloodBankName</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    @if (Model != null)
    {
        @foreach (BloodBankModel item in Model)
        {
            <tr>
                <td>@item.BloodBankID</td>
                <td>@item.BloodBankName</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>
                    <a class="btn btn-success" asp-action="EditBloodBannk" asp-route-id="@item.BloodBankID">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteEmployee" asp-route-id="@item.BloodBankID">Delete</a>
                </td>
            </tr>
        }

    }
</table>

