
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int count=1;
}
<h1 style="text-align:center;">Donor Detail</h1>
<a class="btn btn-success" asp-action="CreateDonor">New Donor</a>

<table class="table table-bordered table-responsive table-dark table-hover">
    <tr>
        <th>Sr.No</th>
        <th>DonorID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>BloodType</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    @if (Model != null)
    {
        
        @foreach (DonorModel item in Model)
        {
            <tr>
                <td>@count</td>
                <td>@item.DonorID</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.BloodTypeID</td>
                <td>@item.UserId</td>
                <td>
                    <a class="teal" asp-action="EditDonor" asp-route-id="@item.DonorID">Edit</a>
                    <a class="teal" asp-action="DeleteDonor" asp-route-id="@item.DonorID">Delete</a>
                </td>
            </tr>
            @if(count>=1){
                count = count + 1;
            }
        }

    }
</table>